 body {
	 background-color:beige;
	 font-family: arial, sans-serif;
 }
 
 .logo{
	 position: absolute;
	 top: 8px;
	 right: 8px;
 }
 
 #instruct {
	 color: #aa3333;
	 height: 20px;
	 font-size: 18px;
 }
 
 .logo span:nth-child(1) {
	text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: darkblue;
 }

 .logo span:nth-child(2) {
	font-size: 23px;
    color: purple;
}
img{
	height: 150px;
	top: 50px;
    position: relative;
	vertical-align: top;
}
